<mdb-navbar SideClass="navbar navbar-expand-lg background-sangria loveTextPrimary">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">C&T</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li> -->
      <!-- <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Wedding Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Registry</a>
                </li> -->

      <!-- Dropdown -->
      <!-- <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Basic dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary loveBackgroundSecondary loveTextSecondary" role="menu">
                        <a class="dropdown-item waves-light " mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    </div>
                </li> -->
    </ul>
  </links>
</mdb-navbar>

<main class="container-fluid">
  <div class="content row no-gutters">
    <div class="col-12 col-lg-4">
      <div class="hero-container" style="background: url(../assets/images/carley-and-todd-4.jpg) 20% 20%/cover no-repeat"></div>
    </div>
    <div class="accent-font background-silver home-header col-12 col-lg-8">
      <div class="row">
        <div class="col-xl-4 col-12">
            <h1>Carley & Todd</h1>
            <h2>01 . 03 . 2019</h2>
        </div>
        <div class="col-xl-8 col-12">
          <div class="regular-font location">
              <div class="anderson-details">
                <h5 class="accent-font">
                  <a class="color-aubergine" target="_blank" href="https://www.mcmenamins.com/anderson-school">McMenamin's Anderson School | Bothell, WA</a>
                </h5>
              </div>
              <h6 class="color-navy">In lieu of a gift registry, we would love for you to join us overnight at the Anderson school! Mention LOVE MACHINE during booking to get one of our blocked off rooms. See you there!</h6>
              <a target="_blank" href="https://www.mcmenamins.com/anderson-school">
                <button mdbBtn class="book-btn" type="button" outline="true" size="sm" mdbWavesEffect>Book your room</button>                            
              </a>
          </div>
        </div>
      </div>

      <div class="rsvp-container regular-font">
        <h4 class="accent-font">RSVP</h4>
        <form class="row" action="https://formspree.io/jacksonspearsrsvp@gmail.com" method="POST">
            <div class="col-sm-6">   
                <div class="md-form">
                  <input mdbInputDirective type="text" id="name" name="name" class="form-control" required="true">
                  <label for="name" class="">Name</label>
                </div>
                <div class="md-form">
                  <input mdbInputDirective type="text" id="email" name="email" class="form-control">
                  <label for="email" class="">Email</label>
                </div>
                <div class="md-form">
                  <input mdbInputDirective type="text" id="guests" name="guests" class="form-control" required="true">
                  <label for="guests" class=""># of Guests</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form message-form">
                  <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage" class="form-control md-textarea"
                    name="comment" mdbInputDirective></textarea>
                  <label for="materialContactFormMessage">Message</label>
                </div>
                <button mdbBtn type="submit" color="white" outline="true" value="Send" mdbWavesEffect>Submit RSVP</button>                
            </div>
        </form>
      </div>
    </div>
        <div class="background-aubergine copyright">
          <p>&#169; Lauren Go & Trevor Spears</p>
        </div>
  </div>
</main>
